.header {
    border-bottom: 1px solid rgba(168, 13, 13, 0.425);
    height: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;

    .headerContainer {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        border-bottom: 2px solid rgb(168, 13, 13);
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .menuItem {
        font-family: 'Poppins', sans-serif;
        padding: 0 5px;
        color: gray;
        text-decoration: none;
        font-size: rem(14px);
        font-weight: 600;
        transition: all 0.3s ease;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: white;
        }

        &.active {
            color: white;
        }
    }

    background-color: #000000;
}

@media (max-width: 768px) {
    .hideXs {
        display: none;
    }
}


.mobileMenu {
    padding: rem(100px) rem(20px);
    overflow-x: hidden !important;
    background-color: #000000;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .menuList {
        padding: 20px;
        .menuItem {
            padding: 10px 0;
            font-size: rem(16px);
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

