.presale {
    display: flex;
    flex-direction: column;
    gap: rem(10px);

    .presaleContainer {
        padding: rem(20px);
    }

    .presaleHeader {
        padding: rem(20px);
    }

    .presaleTitle {
        font-size: rem(25px);
        font-weight: 600;
        color: #c2c2c2;
    }

    .presaleSubtitle {
        font-size: rem(16px);
        font-weight: 400;
        color: #c2c2c2;
        margin-top: rem(10px);
    }

    .presalePlatform {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        text-align: center;
        height: 100%;
        /* border: 1px solid rgba(255, 255, 255, 0.2); */


        .presalePlatformImage {
            width: 100%;
            height: auto;
        }

        .presalePlatformName {
            font-size: rem(16px);
            font-weight: 600;
            color: #c2c2c2;
        }
    }
}