.settings {
    .settingsBoxHeader {
        height: rem(100px);
        padding: rem(20px);;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: rem(20px);
    }

    .settingBoxBody {
        .changePassword {
            padding: rem(20px);
            background-color: rgba(255,255,255,0.1);            
            min-height: calc(100vh - 160px);
        }
    }
}